.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.table-user-information > tbody > tr > td:first-child {
    width:200px;
}
.toppad
{margin-top:20px;
}
#image-div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.snip1494 {
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    width: 200px;
    color: #ffffff;
    font-size: 16px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.snip1494 *,
.snip1494 *:before,
.snip1494 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.snip1494 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
}
.snip1494 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.snip1494 figcaption:before,
.snip1494 figcaption:after,
.snip1494 figcaption div:before,
.snip1494 figcaption div:after {
    opacity: 0;
    -webkit-transform: scale(0.05);
    transform: scale(0.05);
}
.snip1494 figcaption:before,
.snip1494 figcaption:after {
    height: 50%;
    width: 50%;
    position: absolute;
    content: '';
    background-color: #080808;
}
.snip1494 figcaption:before {
    top: 0;
    left: 0;
}
.snip1494 figcaption:after {
    bottom: 0;
    right: 0;
}
.snip1494 figcaption div:before,
.snip1494 figcaption div:after {
    width: 50%;
    height: 50%;
    position: absolute;
    content: '';
    background-color: #000000;
}
.snip1494 figcaption div:before {
    top: 0;
    right: 0;
}
.snip1494 figcaption div:after {
    bottom: 0;
    left: 0;
}
.snip1494 i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
    opacity: 0;
}
.snip1494 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.snip1494:hover img,
.snip1494.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}
.snip1494:hover i,
.snip1494.hover i {
    opacity: 0.7;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.snip1494:hover figcaption:before,
.snip1494.hover figcaption:before,
.snip1494:hover figcaption:after,
.snip1494.hover figcaption:after,
.snip1494:hover figcaption div:before,
.snip1494.hover figcaption div:before,
.snip1494:hover figcaption div:after,
.snip1494.hover figcaption div:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8;
}
.snip1494:hover figcaption:before,
.snip1494.hover figcaption:before {
    -webkit-transition-delay: 0;
    transition-delay: 0;
}
.snip1494:hover figcaption:after,
.snip1494.hover figcaption:after {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.snip1494:hover figcaption div:before,
.snip1494.hover figcaption div:before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.snip1494:hover figcaption div:after,
.snip1494.hover figcaption div:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
#real{
    background-color: transparent;
    color: transparent;
    border: transparent;
    cursor: default;
}