html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.well {
    text-align: right;
}

.container-fluid #scheduler_here {
    height: 715px;
    width: 100%;
    border: 1px solid #cecece;
}

#scheduler_here {
    border-radius: 4px;
}

/* Important !!! */
.dhx_scale_hour {
    line-height: normal;
}