.form-group.required .control-label:after {
	color: RED;
	content: "*";
}

th {
	background-color: #167F92;
	color: white;
}

.removable-i {
	color: RED;
}

.hospital-image {
	float: left;
	width: 350px;
	height: 350px;
	margin-right: 1em;
}

.hospital-map {
    display: block;
    overflow: hidden;
	height:350px;
	width: calc(100% - 350px - 1em);
}