<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<meta charset="UTF-8"/>

<head lang="en">
    <title>Details</title>
</head>

<body>
<section layout:fragment="content">
    <div class="content">
        <div class="container">


            <form th:action="@{/save/detail}" th:object="${userDetail}" role="form" action="#" method="post">

                <div class="form-group">
                    <label for="firstName">First name:</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName"/>

                    <p class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                </div>

                <div class="form-group">
                    <label for="lastName">Last name:</label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="lastName"/>

                    <p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                </div>


                <!--<div class="form-group">-->
                <!--<label for="lastName">Last name:</label>-->
                <!--<input type="text" class="form-control" id="lastName" th:field="*{lastName}">-->
                <!--<p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label for="phone">Phone:</label>-->
                <!--<input type="tel" class="form-control" id="phone" th:field="*{phone}" >-->
                <!--<p class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label for="birthDate">Birth date:</label>-->
                <!--<input type="datetime-local" class="form-control" id="birthDate" th:field="*{birthDate}" >-->
                <!--<p class="error" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>-->
                <!--</div>-->

                <button class="btn btn-danger" onclick="history.back()">Back</button>
                <button type="submit" class="btn btn-default" style="float: right;">Submit</button>
            </form>
        </div>
    </div>
</section>

</body>
</html>