<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<meta charset="UTF-8"/>

<head lang="en">
    <title>Card</title>
</head>

<body>
<section layout:fragment="content">

    <div class="content">
        <div class="container">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        Patient
                    </th>
                </tr>
                </thead>
                <tr th:each="patient:${patients}">
                    <td ><a th:href="@{/cards(userId=${patient.id})}" th:text="${patient.email}"></a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
</body>
</html>

