<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<meta charset="UTF-8"/>

<head lang="en">
    <title>Card</title>
    <script type="text/javascript" th:src="@{/js/card.validation.js}">
    </script>
</head>

<body>
<section layout:fragment="content">
    <div class="content">
        <div class="container">
            <h1 th:if="${cardItem.id==null}" th:text="#{card.record.create}">Create new record</h1>

            <h1 th:if="${cardItem.id!=null}" th:text="#{card.record.edit}">Edit record</h1>
            <h4 th:if="${cardItem.date==null}"
                th:text="#{card.record.now}+' '+ ${#dates.format(#dates.createNow(), 'HH:mm dd-MM-yyyy')}"></h4>
            <h4 th:if="${cardItem.date!=null}"
                th:text="#{card.record.date}+' '+ ${#dates.format(cardItem.date, 'HH:mm dd-MM-yyyy')}"></h4>

            <form name="form" id="form" th:action="@{/persist(userId=${userId})}" th:object="${cardItem}" role="form"
                  action="#" method="post" autocomplete="off">
                <span th:if="${cardItem.id!=null}"><input type="hidden" th:field="${cardItem.id}"/></span>
                <span th:if="${cardItem.id!=null}"><input type="hidden" th:field="${cardItem.date}" id="date"/></span>

                <div>
                    <p class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
                </div>

                <div>
                    <p class="error" th:if="${doctorError!=null}" th:text="${doctorError}"></p>
                </div>

                <div class="form-group">
                    <label for="complaint" th:text="#{card.record.complaint}">Complaint:</label>
                    <input name="complaint" type="text" th:field="*{complaint}" class="form-control" id="complaint"/>

                    <p class="error" th:if="${#fields.hasErrors('complaint')}" th:errors="*{complaint}"></p>
                </div>

                <div class="form-group">
                    <label for="result" th:text="#{card.record.result}">Result:</label>
                    <textarea name="result" class="form-control" id="result" th:field="*{result}" rows="5"></textarea>

                    <p class="error" th:if="${#fields.hasErrors('result')}" th:errors="*{result}"></p>
                </div>
                <div class="form-group">
                    <label th:text="#{card.record.prescription}" for="prescription">Prescription:</label>
                    <textarea name="prescription" class="form-control" id="prescription" th:field="*{prescription}"
                              rows="5"></textarea>

                    <p class="error" th:if="${#fields.hasErrors('prescription')}" th:errors="*{prescription}"></p>
                </div>

                <button type="submit" class="btn btn-default" style="float: right;" th:text="#{card.record.submit}">
                    Submit
                </button>
            </form>
            <a class="btn btn-danger" th:text="#{card.record.back}" th:href="@{/card/items(userId=${userId},page=1)}">Back</a>
        </div>
        <span hidden="hidden" id="massMin" th:text="#{card.record.massMin}"></span>
        <span hidden="hidden" id="massMax" th:text="#{card.record.massMax}"></span>
    </div>
</section>


</body>
</html>