<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="HospitalSeekerTests">
	<test name="TestCase1">
		<classes>
			<class name="com.hospitalseeker.TestMain">
				<methods>
					<exclude name="com.hospitalseeker.TestDataDB.*" /> 
				</methods>
			</class>
		</classes>
	</test>
	<groups>
		<run>
			<include  />
		</run>
	</groups>
</suite>
