<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head></head>
<body>
	<section layout:fragment="content">
		<div class="content">

			<div class="team container">
				<div class="row team-heading text-center">
					<h2>our team</h2>
					
				</div>
				<div class="row" >
					<div th:each="doctor:${doctors}" class="col-md-2 single-member col-sm-4">
						<div th:if="${doctors.indexOf(doctor)%2 == 0}">
							<a th:href="@{/dashboard(id=${doctor.id},did=${id})}">
								<div
									th:replace="templates/doctor_detail::doctor-detail('arrow-top',${doctor.firstName},${doctor.lastName},${doctor.doctorsDetails})" />

								<div
									th:replace="templates/doctor_photo::doctor-photo(${doctor.imagePath})" />
							</a>
						</div>
						<div th:if="${doctors.indexOf(doctor)%2 == 1}">
							<a th:href="@{/dashboard(id=${doctor.id},did=${id})}">
								<div
									th:replace="templates/doctor_photo::doctor-photo(${doctor.imagePath})" />

								<div
									th:replace="templates/doctor_detail::doctor-detail('arrow-bottom',${doctor.firstName},${doctor.lastName},${doctor.doctorsDetails})" />
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>