<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<title>DOCTOR - Responsive HTML &amp; Bootstrap Template</title>
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/style.css" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300'
	rel='stylesheet' type='text/css' />
<link
	href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700'
	rel='stylesheet' type='text/css' />
<script src="js/modernizr.js"></script>
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<div class="header" th:replace="templates/header::page-header"></div>
	
	
	<section class="slider" id="home" layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div id="carouselHacked" class="carousel slide carousel-fade"
					data-ride="carousel">
					<div class="header-backup"></div>
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="img/slide-one.jpg" alt=""/>
							<div class="carousel-caption">
								<h1 th:text="${'Providing'}" />
								<p>highquality service for men &amp; women</p>
								<button>learn more</button>
							</div>
						</div>
						<div class="item">
							<img src="img/slide-two.jpg" alt=""/>
							<div class="carousel-caption">
								<h1>providing</h1>
								<p>highquality service for men &amp; women</p>
								<button>learn more</button>
							</div>
						</div>
						<div class="item">
							<img src="img/slide-three.jpg" alt=""/>
							<div class="carousel-caption">
								<h1>providing</h1>
								<p>highquality service for men &amp; women</p>
								<button>learn more</button>
							</div>
						</div>
						<div class="item">
							<img src="img/slide-four.jpg" alt=""/>
							<div class="carousel-caption">
								<h1>providing</h1>
								<p>highquality service for men &amp; women</p>
								<button>learn more</button>
							</div>
						</div>
					</div>
					<!-- Controls -->
					<a class="left carousel-control" href="#carouselHacked"
						role="button" data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a> <a class="right carousel-control" href="#carouselHacked"
						role="button" data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end of slider section -->

	<!-- footer starts here -->
	<div class="footer" th:replace="templates/footer::page-footer"></div>
	<!-- script tags
	============================================================= -->
	<script src="js/jquery-2.1.1.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="js/gmaps.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>