<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Manage</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta th:name="csrf-token" th:content="${_csrf.token}" />



<style type="text/css">
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.well {
	text-align: right;
}

.container-fluid #scheduler_here {
	height: 715px;
	width: 100%;
	border: 1px solid #cecece;
}

#scheduler_here {
	border-radius: 4px;
}

/* Important !!! */
.dhx_scale_hour{
	line-height:normal;
}
</style>
</head>
<body>
	<section layout:fragment="content">
		<p th:text="${id}" id="did" hidden="hidden"></p>
		<input id="path" th:value="${#httpServletRequest.getContextPath()}"/>
		<input sec:authorize="hasRole('MANAGER')" value="true"
			id="manager" type="text" hidden="hidden" />
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div align="center" class="col-lg-12 col-md-12 col-xs-12">
						 <span style="margin-left: 32%">
						<p  style="font-size: x-large" th:text="${doctor.firstName + ' ' +doctor.lastName}"></p></span>
						<span ><button style="float: left"  class=" col-sm-1 col-md-1 col-lg-1 btn btn-success" onclick="save()">Save</button></span>

						<span style="float: right">
							<select class=" col-sm-1 col-md-1 col-lg-1 form-control" id="appointmentTime">
								<option>15 min</option>
								<option>20 min</option>
								<option>30 min</option>
								<option>60 min</option>
							</select></span>
						<br/>
                        <span style="float: right;"><button style="color: black" class="btn btn-link btn-block disabled" >Appointment duration</button> </span>



						<div class="dhx_cal_container panel" id="scheduler_here">
							<div class="dhx_cal_navline">
								<div class="dhx_cal_prev_button">&nbsp;</div>
								<div class="dhx_cal_next_button">&nbsp;</div>
								<div class="dhx_cal_today_button"></div>
								<div class="dhx_cal_date"></div>
								<div class="dhx_minical_icon" id="dhx_minical_icon"
									onclick="show_minical()">&nbsp;</div>
								<script type="text/javascript">
									function show_minical() {
										if (scheduler.isCalendarVisible())
											scheduler.destroyCalendar();
										else
											scheduler
													.renderCalendar({
														position : "dhx_minical_icon",
														date : scheduler._date,
														navigation : true,
														handler : function(
																date, calendar) {
															scheduler
																	.setCurrentView(date);
															scheduler
																	.destroyCalendar()
														}
													});
									}
								</script>
								<div class="dhx_cal_tab" name="day_tab"></div>
								<div class="dhx_cal_tab" name="week_tab"></div>
								<div class="dhx_cal_tab" name="month_tab"></div>
							</div>
							<div class="dhx_cal_header"></div>
							<div class="dhx_cal_data"></div>
						</div>
					</div>
				</div>

			</div>



			<script type="text/javascript">
				var did = document.getElementById("did").textContent;
				var sc;
				var time;
				$.ajax({
					type: "GET",
					async: false,
					url: "getWorkScheduler?id=" + did,
					datatype: "json",
					contentType: "application/json",
					mimeType: "application/json",
					success: function (data) {
						time=data[data.length-1].app;
						data.splice(data.length-1,1);
						sc=data;
					}
				});
				var bla = $("#appointmentTime").val();

				$("#appointmentTime option").each(function(item, i)
				{
					if (time == i.value){
						$("#appointmentTime").val(i.value);
					}

				});

					scheduler.config.time_step = 60;

					scheduler.config.xml_date = "%Y-%m-%d %H:%i";
					scheduler.config.limit_time_select = true;
					scheduler.init('scheduler_here', null, "week");
					scheduler.parse(sc,"json");
					function save() {

						$.ajaxSetup({
							headers: {
								'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
							}
						});

						var bla = $("#appointmentTime").val();
						var JsonWorkintervals = scheduler.toJSON();
						var blaaa = '{"app":"'+bla+'"}';
						var obj = JSON.parse(blaaa);
						var objs = JSON.parse(JsonWorkintervals);
						objs.push(obj);

						var ss = JSON.stringify(objs);

						$.ajax({
							type: "POST",
							url: "supplyWorkScheduler?doctorId="+did,
							data: ss,
							datatype: "json",
							contentType: 'application/json',
							mimeType: 'application/json'
						})
					}
		</script>
		</div>
	</section>
</body>
</html>