<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script	src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script>
<script th:src="@{/js/mapadmin.js}"></script>
<script th:src="@{/js/gmaps.js}"></script>

<title>Hospital Add/Edit page</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="col-sm-8">
						<h3 class="col-md-offset-2 col-md-10">Hospital add/edit page</h3>
						<form method="POST" class="form-horizontal"
							th:object="${hospital}">
							<input type="hidden" th:field="*{id}" id="id" /> <input
								type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
							<div class="form-group">
								<label class="control-label col-sm-2">Address:</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input class="form-control" id="addressGeo" /> <span
											class="input-group-btn">
											<button type="button" th:onclick="'javascript:check();'"
												class="btn btn-default" style="border-radius: 0">Find</button>
										</span> <span class="input-group-btn">
											<button type="button" th:onclick="'javascript:fill();'"
												class="btn btn-default">Fill</button>
										</span>
									</div>
									<i id="geo-error" style="color: red"
										class="removable-geo fade in"></i>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="address.country">Country:</label>
								<div class="col-sm-4">
									<input th:field="*{address.country}" class="form-control"
										id="address.country" /> <i
										th:if="${#fields.hasErrors('address.country')}"
										th:errors="*{address.country}" style="color: red"
										class="removable-i fade in"></i>
								</div>
								<label class="control-label col-sm-2" for="address.city">City:</label>
								<div class="col-sm-4">
									<input th:field="*{address.city}" class="form-control"
										id="address.city" /> <i
										th:if="${#fields.hasErrors('address.city')}"
										th:errors="*{address.city}" style="color: red"
										class="removable-i fade in"></i>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="address.street">Street:</label>
								<div class="col-sm-4">
									<input th:field="*{address.street}" class="form-control"
										id="address.street" /> <i
										th:if="${#fields.hasErrors('address.street')}"
										th:errors="*{address.street}" style="color: red"
										class="removable-i fade in"></i>
								</div>
								<label class="control-label col-sm-2" for="address.building">Building:</label>
								<div class="col-sm-4">
									<input th:field="*{address.building}" class="form-control"
										id="address.building" /> <i
										th:if="${#fields.hasErrors('address.building')}"
										th:errors="*{address.building}" style="color: red"
										class="removable-i fade in"></i>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="mame">Name:</label>
								<div class="col-sm-10">
									<input th:field="*{name}" class="form-control" id="name" /> <i
										th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
										style="color: red" class="removable-i fade in"></i>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="description">Description:</label>
								<div class="col-sm-10">
									<input th:field="*{description}" class="form-control"
										id="description" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="imagePath">Image
									path:</label>
								<div class="col-sm-10">
									<input th:field="*{imagePath}" class="form-control"
										id="imagePath" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="latitude">Latitude:</label>
								<div class="col-sm-4">
									<input th:field="*{latitude}" class="form-control"
										id="latitude" readonly="true" /> <i
										th:if="${#fields.hasErrors('latitude')}"
										th:errors="*{latitude}" style="color: red"
										class="removable-i fade in"></i>
								</div>
								<label class="control-label col-sm-2" for="longitude">Longitude:</label>
								<div class="col-sm-4">
									<input th:field="*{longitude}" class="form-control"
										id="longitude" readonly="true" /> <i
										th:if="${#fields.hasErrors('longitude')}"
										th:errors="*{longitude}" style="color: red"
										class="removable-i fade in"></i>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="col-sm-2 btn btn-default">SAVE</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-4" style="height: 70vh">
						<div id="googleMap" style="height: 100%"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>