<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="content">
        <div class="about text-center container">

            <form name="dto" method="post" th:action="@{|/register/${email}/|}" th:object="${dto}">
                <table>
                    <tr>
                        <td>First name</td>
                        <td>
                            <input type="text" th:value="${dto.firstName != null} ? *{firstName}" name="firstName"/></td>
                        <td th:if="${(dto.firstName ne null) &amp;&amp; (#fields.hasErrors('firstName'))}"
                            th:errors="*{firstName}" class="has-error"></td>
                    </tr>

                    <tr>
                        <td>Last name</td>
                        <td>
                            <input type="text" th:value="*{lastName != null} ? *{lastName}" name="lastName"/></td>
                        <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="has-error"></td>
                    </tr>

                    <tr>
                        <td>Phone number:</td>
                        <td>
                            <input type="text" name="phone" th:value="*{phone != null} ? *{phone}"
                                   th:placeholder="'Enter your phone number'"/>
                        </td>
                        <td th:if="${(#fields.hasErrors('phone'))}" th:errors="*{phone}"
                            class="has-error"></td>
                    </tr>

                    <tr>
                        <td>Address:</td>
                        <td><input type="text" name="address" th:value="*{address != null} ? *{address}"
                                   th:placeholder="'Enter your address'"/></td>
                        <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="has-error"></td>
                    </tr>


                    <!--<tr>-->
                        <!--<td>Birthday:</td>-->
                        <!--<td><input type="date" name="birthDate" th:value="*{birthDate != null} ? *{birthDate}"-->
                                   <!--th:placeholder="'Enter your birthday'"/></td>-->
                        <!--<td th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="has-error"></td>-->
                    <!--</tr>-->


                    <tr>
                        <td>Gender:</td>
                        <td>
                            <select name="gender">
                                <option value="MAN" selected="selected">Male</option>
                                <option value="WOMAN">Female</option>
                            </select>
                        </td>
                    </tr>

                    <!--<tr>-->
                    <!--<td>Image path:</td>-->
                    <!--<td>-->
                    <!--<select name="imagePath">-->
                    <!--<option value="c:/images/1.jpg" selected="selected"/>Cat</option>-->
                    <!--<option value="c:/images/2.jpg" />Dog</option>-->
                    <!--</select>-->
                    <!--</td>-->
                    <!--</tr>-->

                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="Update"/>
                        </td>
                                      
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>