<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:h="http://www.w3.org/1999/html" layout:decorator="layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Basic initialization</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta th:name="csrf-token" th:content="${_csrf.token}" />
	<script th:src="@{/js/Workintervals.js}"></script>



<style type="text/css" media="screen">
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.well {
	text-align: right;
}

.container-fluid #scheduler_here {
	height: 715px;
	width: 100%;
	border: 1px solid #cecece;
}

#scheduler_here {
	border-radius: 4px;
}

#my_form {
	/*position: absolute;*/
	/*top: 100px;*/
	/*left: 300px;*/
	z-index: 10001;
	/*display: none;*/
	/*background-color: white;*/
	/*border: 2px outset gray;*/
	/*!*padding: 20px;*!*/
	/*!*font-family: Tahoma;*!*/
	/*!*font-size: 10pt;*!*/
}

/*#my_form label {*/
	/*width: 500px;*/
/*}*/


</style>
</head>
<body>
	<section layout:fragment="content">

		<p th:text="${id}" id="1" hidden="hidden"></p>
		<input id="path" th:value="${#httpServletRequest.getContextPath()}"/>
		
		<div class="modal bs-example-modal-sm" id="message_modal"
			tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">Saved</div>
			</div>
		</div>
		<input sec:authorize="hasRole('ROLE_MANAGER')" value="true"
			id="manager" type="text" hidden="hidden" />
		<p th:id="currentUser" hidden="hidden" sec:authentication="name" />
		<p th:id="doctorID" hidden="hidden" th:text="${doctor.id}" />
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-7 col-xs-7">
						<div class="row">
							<img id="profile-photo" th:class="'img-responsive img-circle'"
								th:src="@{|/img/doctors/${doctor.imagePath}|}" />
							<h3 th:class="'text-center'"
								th:text="${doctor.firstName + ' ' +doctor.lastName}"></h3>
							<div class="btn-group">
								<button type="button" class="btn btn-info dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Profile</a></li>
									<li><a onclick="focusToFeedback(event)" href="#">Give
											feedback</a></li>
									<li><a href="#">My medical card</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Subscribe</a></li>
								</ul>
							</div>
						</div>



						<div class="row">
							<div th:replace="templates/chat::feedback-panel(${feedbacks})" />
						</div>
						

					</div>
					<div class="col-lg-9 col-md-9 col-xs-10">
						<div id="my_form" class="modal fade" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
							<label for="description">Прізвище та ім’я</label><input class="form-control" type="text" name="description" value="" id="description"/><br/>
							<label for="custom1">Скарга</label><input class="form-control" type="text" name="custom1" value="" id="custom1"/><br/>
							<label for="custom2">Номер телефону</label><input class="form-control" type="text" name="custom2" value="" id="custom2"/><br/><br/>
							<input type="button" class="btn" name="save" value="Записатися" id="save" style='width:100px;' onclick="save_form()"/>
							<input type="button" class="btn" name="close" value="Відмінити" id="close" style='width:100px;' onclick="close_form()"/>
							<!--<button class="btn" name="delete" value="Відмінити візит" id="delete"onclick="delete_event()"></button>-->
							<button type="button" class="btn btn-default" onclick="delete_event()">Видалити візит</button>
								</div>
								</div>
								</div>
						<div class="dhx_cal_container panel" id="scheduler_here">
							<div class="dhx_cal_navline">
								<div class="dhx_cal_prev_button">&nbsp;</div>
								<div class="dhx_cal_next_button">&nbsp;</div>
								<div class="dhx_cal_today_button"></div>
								<div class="dhx_cal_date"></div>
								<div class="dhx_minical_icon" id="dhx_minical_icon"
									onclick="show_minical()">&nbsp;</div>
								<script type="text/javascript">
									function show_minical() {
										if (scheduler.isCalendarVisible())
											scheduler.destroyCalendar();
										else
											scheduler
													.renderCalendar({
														position : "dhx_minical_icon",
														date : scheduler._date,
														navigation : true,
														handler : function(
																date, calendar) {
															scheduler
																	.setCurrentView(date);
															scheduler
																	.destroyCalendar()
														}
													});
									}
								</script>
								<div class="dhx_cal_tab" name="day_tab"></div>
								<div class="dhx_cal_tab" name="week_tab"></div>
								<div class="dhx_cal_tab" name="month_tab"></div>
							</div>
							<div class="dhx_cal_header"></div>
							<div class="dhx_cal_data"></div>
						</div>
					</div>
				</div>
			</div>


			<script type="text/javascript">

			var html = function(id) { return document.getElementById(id); };


			scheduler.showLightbox = function(id) {
				$('#my_form').modal('show');
			var ev = scheduler.getEvent(id);
			scheduler.startLightbox(id, html("my_form"));

			html("description").focus();
			html("description").value = ev.text;
			html("custom1").value = ev.custom1 || "";
			html("custom2").value = ev.custom2 || "";
			};

			function save_form() {
			var ev = scheduler.getEvent(scheduler.getState().lightbox_id);
			ev.text = html("description").value;
			ev.custom1 = html("custom1").value;
			ev.custom2 = html("custom2").value;

			scheduler.endLightbox(true, html("my_form"));
			}
			function close_form() {
			scheduler.endLightbox(false, html("my_form"));
			}

			function delete_event() {
			var event_id = scheduler.getState().lightbox_id;
			scheduler.endLightbox(false, html("my_form"));
			scheduler.deleteEvent(event_id);
			}

			</script>

		</div>

		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Modal Header</h4>
					</div>
					<div class="modal-body">
						<p>Some text in the modal.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>