<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Basic initialization</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta th:name="csrf-token" th:content="${_csrf.token}" />
<link rel="stylesheet" href="codebase/dhtmlxscheduler_flat.css"
	type="text/css" media="screen" title="no title" charset="utf-8" />
<script src="codebase/dhtmlxscheduler.js" type="text/javascript"
	charset="utf-8"></script>
<script src="codebase/sources/ext/dhtmlxscheduler_minical.js"
	type="text/javascript" charset="utf-8"></script>
<script src="codebase/sources/ext/dhtmlxscheduler_readonly.js"
	type="text/javascript" charset="utf-8"></script>
<script src="codebase/sources/ext/dhtmlxscheduler_limit.js"></script>
<script src="codebase/sources/ext/dhtmlxscheduler_serialize.js"
	type="text/javascript" charset="utf-8"></script>
<script src="codebase/messageResource.js" type="text/javascript"
	charset="utf-8"></script>

<style type="text/css">
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.well {
	text-align: right;
}

.container-fluid #scheduler_here {
	height: 715px;
	width: 100%;
	border: 1px solid #cecece;
}

#scheduler_here {
	border-radius: 4px;
}
</style>
</head>
<body>
	<section layout:fragment="content">

		<p th:text="${id}" id="1" hidden="hidden"></p>
		<div class="modal bs-example-modal-sm" id="message_modal"
			tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">Saved</div>
			</div>
		</div>
		<input sec:authorize="hasRole('ROLE_MANAGER')" value="true"
			id="manager" type="text" hidden="hidden" />
		<p th:id="currentUser" hidden="hidden" sec:authentication="name" />
		<p th:id="doctorID" hidden="hidden" th:text="${doctor.id}" />
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-xs-5">
						<div class="row">
							<img id="profile-photo" th:class="'img-responsive img-circle'"
								th:src="@{|/img/doctors/${doctor.imagePath}|}" />
							<h3 th:class="'text-center'"
								th:text="${doctor.firstName + ' ' +doctor.lastName}"></h3>
							<div class="btn-group">
								<button type="button" class="btn btn-info dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Profile</a></li>
									<li><a onclick="focusToFeedback(event)" href="#">Give
											feedback</a></li>
									<li><a href="#">My medical card</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Subscribe</a></li>
								</ul>
							</div>
						</div>



						<div class="row">
							<div th:replace="templates/chat::feedback-panel(${feedbacks})" />
						</div>
						

					</div>
					<div class="col-lg-9 col-md-9 col-xs-7">
						<div class="dhx_cal_container panel" id="scheduler_here">
							<div class="dhx_cal_navline">
								<div class="dhx_cal_prev_button">&nbsp;</div>
								<div class="dhx_cal_next_button">&nbsp;</div>
								<div class="dhx_cal_today_button"></div>
								<div class="dhx_cal_date"></div>
								<div class="dhx_minical_icon" id="dhx_minical_icon"
									onclick="show_minical()">&nbsp;</div>
								<script type="text/javascript">
									function show_minical() {
										if (scheduler.isCalendarVisible())
											scheduler.destroyCalendar();
										else
											scheduler
													.renderCalendar({
														position : "dhx_minical_icon",
														date : scheduler._date,
														navigation : true,
														handler : function(
																date, calendar) {
															scheduler
																	.setCurrentView(date);
															scheduler
																	.destroyCalendar()
														}
													});
									}
								</script>
								<div class="dhx_cal_tab" name="day_tab"></div>
								<div class="dhx_cal_tab" name="week_tab"></div>
								<div class="dhx_cal_tab" name="month_tab"></div>
							</div>
							<div class="dhx_cal_header"></div>
							<div class="dhx_cal_data"></div>
						</div>
					</div>
				</div>
			</div>



			<script type="text/javascript">
				var manager = $('#manager').val();
				if (!manager) {
					scheduler.config.readonly = true;
				} else {
					scheduler.config.readonly = false;
				}
				var a = document.getElementById("1").textContent;
				scheduler.config.xml_date = "%Y-%m-%d %H:%i";
				scheduler.config.first_hour = 7;
				scheduler.config.last_hour = 21;
				scheduler.config.limit_time_select = true;
				scheduler.blockTime([ 1, 2, 3, 4, 5 ], [ 0, 8 * 60, 20 * 60,
						24 * 60 ]);
				scheduler.blockTime([ 0, 6 ], "fullday");
				scheduler.init('scheduler_here', null, "week");
				scheduler.load("getIntervals?id=" + a, "json");
				var dp = new dataProcessor("supplyIntervals?id=" + a);
				dp.init(scheduler);
			</script>


		</div>
	</section>
</body>
</html>