<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:h="http://www.w3.org/1999/html" layout:decorator="layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title th:text="${doctor.firstName}+' '+${doctor.lastName}"></title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta th:name="csrf-token" th:content="${_csrf.token}" />
	<meta th:name="csrf-name" th:content="${_csrf.parameterName}" />
	<script th:src="@{/js/workintervals.js}"></script>
	<script th:src="@{/codebase/sources/ext/dhtmlxscheduler_limit.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/codebase/sources/ext/dhtmlxscheduler_serialize.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/codebase/locale/locale_ua.js}" th:remove="(__${#locale}__ == 'en')?'all':'none'" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/js/schedulerDatePicker.js}" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" th:href="@{/css/appointmentModal.css}"/>
	<link rel="stylesheet" th:href="@{/css/workScheduler.css}"/>
</head>
<body>
<section layout:fragment="content">
	<p th:text="${id}" id="1" hidden="hidden"></p>
	<input id="path" th:value="${#httpServletRequest.getContextPath()}"/>
	<div class="modal bs-example-modal-sm" id="message_modal"
		 tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">Saved</div>
		</div>
	</div>
	<input sec:authorize="hasRole('PATIENT')" value="true."
		   id="patient" type="text" hidden="hidden" />
	<p th:id="currentUser" hidden="hidden" sec:authentication="name" />
	<p th:id="doctorID" hidden="hidden" th:text="${doctor.id}" />
	<div class="content" id="hoop">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-7 col-xs-7">
					<div class="row">
						<img id="profile-photo" th:class="'img-responsive img-circle'"
							 th:src="@{|/img/doctors/${doctor.imagePath}|}" />
						<h3 id="profDoctorsName" th:class="'text-center'"
							th:text="${doctor.firstName + ' ' +doctor.lastName}"></h3>
						<div class="btn-group">
							<button type="button" class="btn btn-info dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
								Action <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Profile</a></li>
								<li><a onclick="focusToFeedback(event)" href="#">Give
									feedback</a></li>
								<li><a href="#">My medical card</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Subscribe</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div th:replace="templates/chat::feedback-panel(${feedbacks})" />
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-xs-10">
					<div id="my_form">
						<label for="description">Appointment</label><input type="text" name="description" hidden="hidden" id="description"/><br/>
						<button class="btn btn-default" name="save" value="Save" id="save"  onclick="save_form()">Take</button>
						<button class="btn btn-default" value="Close" id="close"  onclick="close_form()">Cancel</button>
					</div>
					<div class="dhx_cal_container panel" id="scheduler_here">
						<div class="dhx_cal_navline">
							<div class="dhx_cal_prev_button">&nbsp;</div>
							<div class="dhx_cal_next_button">&nbsp;</div>
							<div class="dhx_cal_today_button"></div>
							<div class="dhx_cal_date"></div>
							<div class="dhx_minical_icon" id="dhx_minical_icon"
								 onclick="show_minical()">&nbsp;</div>
							<div class="dhx_cal_tab" name="day_tab"></div>
							<div class="dhx_cal_tab" name="week_tab"></div>
							<div class="dhx_cal_tab" name="month_tab"></div>
						</div>
						<div class="dhx_cal_header"></div>
						<div class="dhx_cal_data"></div>
					</div>
				</div>
			</div>
		</div>
		<p id="principal" sec:authorize="isAuthenticated()" sec:authentication="principal.username" hidden="hidden"></p>
	</div>
	<!-- Appointment confirmation modal -->
	<div id="myModal" class="modal fade" role="dialog"  onclick="dismissMyModal(event)" onclose="close_form()">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header" id="modal-header">
					<button type="button" class="close" data-dismiss="modal" onclick="close_form()">&times;</button>
					<h3 class="modal-title" id="modalHeaderWithDate">Appointment confirmation</h3>
				</div>
				<div class="modal-body" id="modbs" hidden="hidden">
					<div  id="cancelMassage" class="helper">
						<div class="alert alert-info alert-dismissible messageAfterEdit" role="alert">
							<h4 id="cancelMassageText" class="success text-center">Appointment was added successfully!</h4>
						</div>
					</div>
				</div>
				<div class="modal-body" id="modb">
					<label  style="font-size: large" for="date">Appointment time:</label>
					<p style="font-size: large" id="date"/>
					<label style="font-size: large" for="doctorName">Doctor:</label>
					<p style="font-size: large" id="doctorName"/>
					<label style="font-size: large" for="TheReasonForVisit">The short reason for visit:</label>
					<input  type="text" class="form-control" id="TheReasonForVisit" placeholder="Input here" required="required"/>
				</div>
				<div class="modal-footer" id="modal-footer">
					<button type="submit" class="btn btn-default" style="width: 80px"  onclick="startModal()">Confirm</button>
					<button type="button"  class="btn btn-default" style="width: 80px" data-dismiss="modal" onclick="close_form()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Scheduler error modal-->
	<div id="mySchedulerErrorModal" class="modal fade" role="dialog" onclick="goBack()">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title ">
						<span class="glyphicon glyphicon-alert" style="color: #ac2925"></span>
					</h3>
				</div>
				<div class="modal-body">
					<h3>Sorry but this doctor does not have work scheduler!</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" style="width: 80px" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
</section>
</body>


</html>