<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<meta th:name="csrf-token" th:content="${_csrf.token}" />
<meta th:name="csrf-name" th:content="${_csrf.parameterName}" />

<script
	src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places&amp;key=AIzaSyDGjdYjvXcz-2fFmj0JFyt-JPZ0cZBBhmE"></script>
<script th:src="@{/js/welcome.js}"></script>
<script th:src="@{/js/gmaps.js}"></script>
<link rel="stylesheet" th:href="@{/css/map.css}" />

<title th:text="#{welcome.header}"></title>
</head>
<body>
	<section layout:fragment="content">
		<div class="content">
			<input id="pac-input" class="form-control" type="text"
				th:placeholder="#{welcome.enteraddress}" />
			<div id="googleMap" style="height: 70vh"></div>
		</div>
	</section>
</body>
</html>