
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <meta charset="UTF-8"/>
    <script src="webjars/jquery/3.0.0-alpha1/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.js"></script>
    <link href="/webjars/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/app.css" rel="stylesheet" type="text/css"/>
    <title>Admin</title>
</head>

<body>
<div class="success text-center">

        Dear <strong><span th:text="${user}"></span></strong>, Welcome to Admin Page.
    <br/>
        Would you like to <a th:href="@{/newUser}"> Add Some Users</a> to keep yourself busy?
    <br/>
        <a th:href="@{/logout}">Logout</a>

</div>


</body>

</html>